* {
    -webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

body {
  background-color: #5A6678;
  color: #fff;
}

header {
width: 100%;
padding: 50px;
text-align: center;
font-size: 50px;
font-family: 'Bungee Inline', cursive;
background-color: #73171B;

}

img {
  max-width: 100%;
  padding: 5px;
}

button {
  background-color:#5A6678;
  border: 0px;
}


div {
  max-width: 25%;
  float: left;
  padding: 0 20px 0 20px;
  font-family: 'Raleway', sans-serif;
}

section {
  width: 100%;
  background: #fff;
  color: #000;
}


#image_record{
  animation:.9s rotateRight infinite linear;
  animation-play-state: paused;
}
#image_record:hover{
  animation-play-state: running;
}
#cd_image{
    animation:1.3s rotateRight infinite linear;
    animation-play-state: paused;
}
#cd_image:hover{
  animation-play-state: running;
}




@media (max-width: 800px) {
 section {
   max-width: 100%;
 }
 img {
   max-width: 50%;
 }
}


@keyframes rotateRight{
    0%{ transform:rotate(0deg); transform-origin:50% 50%; }
    100%{ transform:rotate(360deg); }
}
